# Configuration and Secrets
settings.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Cache
.cache.sqlite

# Virtual Environment
venv/
env/
ENV/
.env
docker/.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Project Specific
logs/
models/
*.pkl
*.html
fusionForecast.spec

# Lighting logs
lightning_logs/

# HTML reports
*.html



# Node-RED
node_red/node_modules/
node_red/.config.*
node_red/.*.backup
node_red/package.json
node_red/package-lock.json
node_red/settings.js
node_red/flows_cred.json