# Core Libraries
numpy==1.24.4
pandas>=2.0,<3.0.0
neuralprophet[live]
pvlib
plotly>=5.0


# Infrastructure & API
influxdb-client>=1.36
tomli>=2.0; python_version < "3.11"
openmeteo-requests
requests-cache
retry-requests

# PyTorch Configuration
# ---------------------
# Default: CPU Only
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

# CUDA Support (Uncomment for GPU acceleration)
# NOTE: Comment out the CPU section above if enabling this
# --extra-index-url https://download.pytorch.org/whl/cu121
# torch==2.5.1+cu121
# torchvision==0.20.1+cu121
# torchaudio==2.5.1+cu121


