--extra-index-url https://download.pytorch.org/whl/cu121
neuralprophet[live]
pandas>=2.0,<3.0.0
numpy==1.26.4
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
influxdb-client>=1.36
tomli>=2.0; python_version < "3.11"
plotly>=5.0
openmeteo-requests
requests-cache
retry-requests
optuna

